<ion-view title="Drift " id="page2" style="background-color:#3B6E74;">
    <ion-content padding="true" class="has-header">
        <form id="drift-form1" class="list">
            <label class="item item-input" id="drift-input1">
                <input type="text" placeholder="First Name">
            </label>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <label class="item item-input" id="drift-input2">
                <input type="text" placeholder="Last Name">
            </label>
            <div class="spacer" style="width: 300px; height: 13px;"></div>
            <label class="item item-input" id="drift-input3">
                <input type="email" placeholder="Email">
            </label>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <label class="item item-input" id="drift-input4">
                <input type="text" placeholder="Username ">
            </label>
            <div class="spacer" style="width: 300px; height: 12px;"></div>
            <label class="item item-input" id="drift-input5">
                <input type="password" placeholder="Password ">
            </label>
            <div class="spacer" style="width: 300px; height: 12px;"></div>
            <label class="item item-input" id="drift-input6">
                <input type="text" placeholder="Street Address ">
            </label>
            <div class="spacer" style="width: 300px; height: 12px;"></div>
            <label class="item item-input" id="drift-input7">
                <input type="text" placeholder="City, State, Zip Code ">
            </label>
            <div id="drift-button-bar1" class="button-bar">
                <button id="drift-button3" class="button button-positive button-small button-block">Back</button>
                <button id="drift-button4" class="button button-light  button-block button-clear"></button>
                <button id="drift-button5" class="button button-positive button-small button-block">Next</button>
            </div>
        </form>
    </ion-content>
</ion-view>